* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --primary-color: #0a9c6f;
    --grey-900: #0d1919;
    --grey-700: #1f2c34;
    --grey-300: #fefff6;
    --grey-200: #f1f2f6;
    --green-400: #138b80;
    --green-300: #2dca7a;
    --green-100: #dcf8c6;

    --primary-font: "Roboto", sans-serif;
}

body {
    background-color: var(--primary-color);
    padding: 40px
}

.app {
    background-color: white;
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 100vh;
    overflow: hidden;
}